.App {
  text-align: center;
}

.CounterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-render {
  background-color: rgb(74, 158, 130);
  margin: 20px;
  text-align: center;
  padding: 24px 60px;
  color: #fff;
  font-size: 1.6em;
  width: 200px;
}

.counter-controller {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 500px;
}

button {
  padding: 10px;
  margin: 10px;
  width: 18%;
  border-radius: 10px;
  font-size: 1.6em;
}

.reset-btn {
  width: 40%;
  margin: 12px;
}
